<h1>Article here</h1>
<p>Articles page</p>

<meta property="og:site_name" content="https://secret-escarpment-60815.herokuapp.com/article" />
<div itemscope itemtype="http://schema.org/Article">
    <meta itemprop="url" content="https://secret-escarpment-60815.herokuapp.com/article"  />
    <meta itemprop="name" content="No article name" /> 
    <meta itemprop="description" content="A constant inclusion on lists of forests to see before you die, here's how to see the real thing." />
</div>

<p>Version: 5.0</p>