{{#each errors}}   <!-- Looping in handlebars -->
<div class="alert alert-danger">{{text}}</div> <!-- errors.text -->
{{else}}    <!-- If no errors -->
{{/each}}

<div class="card card-body">
    <h3>Video</h3>
    <form action="/ideas" method="post">    <!-- Can only have get/post actions. For put/delete, we need too install method override -->
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" required>
        </div>
        <div class="form-group">
            <label for="details">Details</label>
            <textarea name="details" class="form-control" required></textarea> 
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>